aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
certifi==2020.12.5
chardet==4.0.0
discord==1.0.1
discord.py==1.7.2
idna==2.10
MouseInfo==0.1.3
mss==6.1.0
multidict==5.1.0
numpy==1.20.3
opencv-python==4.5.2.52
Pillow==8.2.0
pyad==0.6.0
PyAutoGUI==0.9.52
PyGetWindow==0.0.9
PyMsgBox==1.0.9
pyperclip==1.8.2
PyRect==0.1.4
PyScreeze==0.1.27
PyTweening==1.0.3
pytz==2021.1
requests==2.25.1
selenium==3.141.0
six==1.16.0
typing-extensions==3.10.0.0
urllib3==1.26.4
yarl==1.6.3
